<!-- <app-binding></app-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-binding-v10></app-binding-v10> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-stuctural-directives></app-stuctural-directives> -->
<!-- <app-structural-directive-b-ng-switch-directive></app-structural-directive-b-ng-switch-directive> -->
<app-structural-directive-c-ng-for-directive></app-structural-directive-c-ng-for-directive>